<ul class="sidebar-nav list-group">
  {% if user.is_authenticated %}
    <li class="list-group-item">User: <a href="{{ user.get_absolute_url }}">{{ user.get_username }}</a></li>
    <form method="post" action="{% url 'logout' %}?next={{request.path}}">
    {% csrf_token %}
    <button class="btn btn-secondary" type="submit">Logout</button>
    </form>
  {% else %}
    <li class="list-group-item"><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
  {% endif %}

  <br>

  <li class="list-group-item"><a href="#">Home</a></li>
  <li class="list-group-item"><a href="{% url 'user:renter-list' %}">All renters</a></li>
  <li class="list-group-item"><a href="{% url 'rentals:car-list' %}">All cars</a></li>
  <li class="list-group-item"><a href="{% url 'rentals:insurance-list' %}">All insurances</a></li>
</ul>
