{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="content-div">
  <h1 class="h1_custom">
    Insurance List
    <a href="{% url 'rentals:insurance-create' %}" class="btn btn-success link-to-page">
      Join new insurance company
    </a>
  </h1>
  <form method="get" action="" class="form-inline">
    {{ search_form|crispy }}
    <input type="submit" value="🔎" class="btn btn-secondary">
  </form>
  <br>
  {% if insurance_list %}
    <table class="table" style="color: white">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>

      {% for insurance in insurance_list %}
        <tr>
          <td>
              {{ insurance.id }}
          </td>
          <td>
              {{ insurance.name }}
          </td>
          <td>
              {{ insurance.description }}
          </td>
          <td>
              <a class="btn" href="{% url 'rentals:insurance-update' pk=insurance.id %}">
                Update
              </a>
            </td>
            <td>
              <a class="btn" style="color: red"
                href="{% url 'rentals:insurance-delete' pk=insurance.id %}">
                Delete
              </a>
            </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
      <p>There are no insurances in the service.</p>
  {% endif %}
  </div>
{% endblock %}
