{% extends "base.html" %}

{% block content %}
  <h2>Rental history for {{ car.model }}</h2>
  
  {% if rentals %}
    <ul>
      {% for rental in rentals %}
        <li>
          <a href="{% url 'rentals:rental-detail' pk=car.id r_pk=rental.id%}">Rental #{{ rental.pk }}</a>:
          From {{ rental.start_date }} to {{ rental.end_date }}
          by {{ rental.renter.username }}{% if rental.renter.id == user.id %} (Me){% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No rental history for this car yet.</p>
  {% endif %}
{% endblock %}
